<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">
</head>
<body>
    <h1>注册</h1>

    <form action="" method="post">
            <table>
                <tr>
                    <td class="tdTitle">邮箱：</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td class="tdTitle">手机：</td>
                    <td><input type="text" name="telphone"></td>
                </tr>
                <tr>
                    <td class="tdTitle">密码：</td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td class="tdTitle">确认密码：</td>
                    <td><input type="text" name="confirmPassword"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="注册"></td>
                </tr>
            </table>
        </form>
</body>
</html>