<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transfer</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">
</head>
<body>
    <h1>转账</h1>

    <form action="" method="post">
        <table>
            <tr>
                <td class="tdTitle">对方用户名：</td>
                <td><input type="text" name="username" id=""></td>
            </tr>
            <tr>
                <td class="tdTitle">金额：</td>
                <td><input type="text" name="money" id=""></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确认转账"></td>
            </tr>
        </table>
    </form>

    <p class="tdTitle">错误信息</p>

    <ul>
        {% for mes in messages %}
            <li>{{ mes }}</li>
        {% endfor %}
    </ul>
</body>
</html>